<div id="page-content">
<div class="container" id="home_container">
    <div class="jumbotron text-center">
    <h1 class="display-6">Women Fashion</h1>
    <p class="lead"></p> 
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
</div>

</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Aditi Parihar", "https://github.com/aditi0610", class: "text-white" %></small>
    </div>
</footer>